py==3.6.9

adaboost_models_practice.ipynb:
warnings
numpy
pandas
pathlib
collections
sklearn.preprocessing
sklearn.metrics
sklearn.model_selection
imblearn.metrics
imblearn.ensemble

census_api.ipynb:
requests
pandas
re
config

fcc_data_cleanup.ipynb:
pandas
os

merged_internet_access_df.ipynb:
pandas
numpy
seaborn
matplotlib.pyplot
sklearn
sklearn.preprocessing

multiple_linear_regression.ipynb:
pandas
numpy
seaborn
matplotlib.pyplot
sklearn
sklearn.linear_model
sklearn.preprocessing

rf_brf_models_practice.ipynb:
pandas
sklearn.ensemble
sklearn.preprocessing
sklearn.model_selection
sklearn.metrics
sklearn.datasets

scaled_merged_internet_access_df.ipynb:
pandas
numpy
seaborn
matplotlib.pyplot
sklearn
sklearn.preprocessing

usda_data_cleanup.ipynb:
pandas
os