py==3.6.9

census_api.ipynb:
requests==
pandas==
census_api_key==

iaa_oversampling.ipynb:
matplotlob.pyplot==
sklearn.datasets
collections
sklearn.model_selection
imblearn.over_sampling
sklearn.linear_model
sklearn.metrics
sklearn.metrics
imblearn.metrics
imblearn.over_sampling

iaa_combination_sampling.ipynb:
pandas
path
collections
sklearn.model_selection
imblearn.combine
sklearn.linear_model
sklearn.metrics
imblearn.metrics